<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

  
<mapper namespace="com.ssafy.web.member.model.mapper.MemberMapper">

	<insert id="registMember" parameterType="member">
		insert into member(name, email, user_enc_password, ssn)
		values (#{name},#{email},#{user_enc_password},#{ssn})
	</insert>
	
	<insert id="registMemberSecret" parameterType="memberSecret">
		insert into member_secret(member_no, salt, ssn_key)
		values (#{member_no},#{salt},#{ssn_key})
	</insert>
	
	<select id="findMemberNo" resultType="int" parameterType="String">
		select no from member where email=#{email}
	</select>
	
	<select id="login" resultType="member" parameterType="member">
		select * from member where email=#{email} and user_enc_password=#{user_enc_password}
	</select>
  
	<select id="getSalt" resultType="String" parameterType="String">
		select ms.salt from member m join member_secret ms on ms.member_no = m.no where m.email = #{email}
	</select>
</mapper>